{% extends "base.html.twig" %}
{% block title %}Rubriques{% endblock %}

{% block script %}
    <!-- Script jQuery -->
    <script type="text/javascript" language="Javascript"src="/src/Web/jquery.js"></script>
{% endblock %}

{% block main %}

    <div class="rubriques-display py-4">
        <div class="container">

            <div class="bg-light px-1 py-1 mb-2 rounded">
                <div class="form-group">
                    <label for="rubrique">Selectionner la rubrique : </label>
                    <select class="form-control" id="rubrique" name="id_rubrique">
                        {% for rubrique in listRubrique %}
                            <option value="{{ rubrique.id_rubrique }}">
                                {{ rubrique.libelle }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="retourServeur"></div>

        </div>
    </div>

{% endblock %}